Object definitions
==================

{doc}`As before <original_data_points>`, load the query results:

In [1]:
from example_data import results

---

Here are just a few example object types which we might be interested in modelling.

```{system:object} Aggregates
:become_parent: true
```

```{system:object} CrushedStone
:label: Crushed stone
```

```{system:object} SandAndGravel
:label: Sand & Gravel
```

```{end-sub-objects}
```

```{figure} figures/Aggregates_Hierarchy.svg
:name: Aggregates Hierarchy
:width: 100%

Aggregates Hierarchy.
```

Note that these are "new" objects that we have created because they are interesting for our analysis.
We also call them _Reference Objects_.

We can retrieve them using the following query:

```{literalinclude} queries/object_definitions.rq
:language: sparql
```

In [2]:
results["object_definitions"]

              Object
0   sys:CrushedStone
1     sys:Aggregates
2  sys:SandAndGravel

And we can see the components of `Aggregates` with this query:

```{literalinclude} queries/object_definitions_composition.rq
:language: sparql
```

In [3]:
results["object_definitions_composition"]

              Object
0   sys:CrushedStone
1  sys:SandAndGravel