# Retrieve original data points

First, let's check we can retrieve the original data points consistently.

## Behind-the-scenes

We start by loading SPARQL queries, and sends them to RDFox to be answered against the pre-converted data. For simplicity the details are hidden in [a separate Python file](https://github.com/ukfires/probs-ISWC2021-example/blob/master/docs/example_data.py):

In [1]:
from example_data import results

## Prodcom

We can retrieve original data points from Prodcom linked to a classification code (`08121230`) using the following SPARQL query:

```{literalinclude} queries/original_prodcom.rq
:language: sparql
```

In [2]:
results["original_prodcom"]

,ObjectName,Role,Value,Dataset,Year,Region,Metric
0,PRODCOM Object from Code 08121230,:SoldProduction,60255156000,:prodcom/PRODCOM2017DATA,2017,United Kingdom,quantitykind:Mass
1,PRODCOM Object from Code 08121230,:SoldProduction,68391115000,:prodcom/PRODCOM2018DATA,2018,United Kingdom,quantitykind:Mass

The results are exactly the ones we expect (Figure 3 of the paper):

```{figure} figures/original_prodcom.svg
:name: Original Prodcom
:width: 100%

All the initial data points from Prodcom.
```

## BGS Minerals Yearbook

If we want to retrieve the data points specific of the BGS Minerals Yearbook dataset:

```{figure} figures/original_bgs.svg
:name: Original BGS
:width: 100%

All the initial data points from BGS.
```

We can use the following query:

```{literalinclude} queries/original_bgs.rq
:language: sparql
```

In [3]:
results["original_bgs"]

,ObjectName,Role,Value,Year,Region,Metric
0,Limestone & Dolomite in BGS,:SoldProduction,5.300000e+10,2014,United Kingdom,quantitykind:Mass
1,Sand & Gravel in BGS,:SoldProduction,5.600000e+10,2014,United Kingdom,quantitykind:Mass
2,Crushed stone in BGS,:SoldProduction,9.900000e+10,2014,United Kingdom,quantitykind:Mass
3,Sandstone in BGS,:SoldProduction,1.000000e+10,2014,United Kingdom,quantitykind:Mass
4,Igneous rock in BGS,:SoldProduction,3.800000e+10,2014,United Kingdom,quantitykind:Mass